@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Amazon Ember";
  src: url("/AmazonEmber_Bd.ttf") format("truetype");
  /* Add more font formats (e.g., woff, woff2) if necessary */
}

body {
  font-family: "Amazon Ember", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #232f3e;
  color: #ffffff;
  padding: 10px;
}

nav {
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

nav a {
  margin-right: 20px;
  color: #ffffff;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}import '@radix-ui/themes/styles.css';*/
